<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="icon" href="../images/document_outline.png">

</head>
<body>
   
    <div class="modal-overlay">
        <div class="modal-container">
            <h3>Creating</h3>
            <div class="dot-flashing"></div>
        </div>
    </div>
    <div class="container">
        <div class="subContainer">
            <span class="heading">Create User</span>
            <h3 id="name"></h3>
            <form id="form">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Enter Username" id="username">
                <button id="sub">Submit</button>
            </form>
            <span id="creating"></span>
            <span id="error">Username already exists</span>
        </div>
    </div>
    <script src="../js/indexClient.js"></script>
</body>
</html>